DATABASE_URL="postgresql+asyncpg://app_user:app_password@localhost:5432/fraud_db"
SECRET_KEY = "63f5a487bbbdd6faa5f8ce267372b0cab35d2e248f4d40113af35ed6be4c158b"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
MODEL_PATH=models/fraud_model.pkl
ADMIN_USERNAME=admin
ADMIN_PASSWORD=sua_senha_forte_aqui